# Ignorar ambiente virtual
venv/
env/
.env

# Ignorar cache do python
__pycache__/
*.pyc

# Ignorar banco de dados local
data/*.db

# Ignorar arquivos do fonte original do chatwoot

code_chawoot_4.9.1/*.*


